@model IEnumerable<Oraculo.Models.Chat>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de Chat</h1>

<p>
    <a asp-action="Create" class="create">Criar novo chat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorias.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td class="details">
                    <a asp-action="Details" asp-route-id="@item.ChatId"><i class="fa-solid fa-circle-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
