@model IEnumerable<Oraculo.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create" class="create">Criar novo Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventoFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventoTexto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img-table" src="@Html.DisplayFor(modelItem => item.EventoFoto)">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventoTexto)
                </td>
                <td class="details">
                    <a asp-action="Details" asp-route-id="@item.EventoId"><i class="fa-solid fa-circle-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
