@model Oraculo.Models.Postagem

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Postagem</h1>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComunidadesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComunidadesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorias.CategoriaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compartilhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compartilhamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar para a lista de Postagens</a>
</div>
