@model IEnumerable<Oraculo.Models.Postagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de Postagens</h1>

<p>
    <a asp-action="Create" class="create">Criar nova postagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostagemNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComunidadesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Like)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compartilhamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostagemNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comunidades.NomeComunidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorias.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Like)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compartilhamento)
            </td>
            <td class="details">
                <a asp-action="Details" asp-route-id="@item.PostagemId"><i class="fa-solid fa-circle-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
