@model IEnumerable<Oraculo.Models.Novidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de Novidades</h1>

<p>
    <a asp-action="Create" class="create">Criar nova Novidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NovidadeFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NovidadeTexto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="img-table" src="@Html.DisplayFor(modelItem => item.NovidadeFoto)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NovidadeTexto)
            </td>
            <td class="details">
                    <a asp-action="Details" asp-route-id="@item.NovidadeId"><i class="fa-solid fa-circle-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
